<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourWay_PetProject"
        tools:targetApi="31"
        android:name=".Models.CleanArchitectureBlueprintsApp">
        <activity
            android:name=".Menu.Courses.OrderPage"
            android:exported="false" />
        <activity
            android:name=".Courses.CoursePage"
            android:exported="false" />
        <activity
            android:name=".Menu.Glider.Glider"
            android:exported="false" />
        <activity
            android:name=".Menu.Articles.Articles"
            android:exported="false" />
        <activity
            android:name=".Menu.Courses.Courses"
            android:exported="false" />
        <activity
            android:name=".Menu.Special.Special"
            android:exported="false" />
        <activity
            android:name=".Menu.Books.Books"
            android:exported="false" />
        <activity
            android:name=".Menu.AboutService.PersonalArea"
            android:exported="false" />
        <activity
            android:name=".Menu.AboutService.AboutService"
            android:exported="false" />
        <activity
            android:name=".Menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>